@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body section{
    width:960px;
    font-family: serif;
    margin: auto;
    background-color: gray;
}
body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;

}
header{
    margin-bottom: 20px;
    background-color: white;
}
header div  {
    display: inline-block;
   
    /* margin-top: 2em; */
    
}
header ul {
    float: right;
    margin-top: 2em;
    margin-left: 10px;

}
header ul li{
    display: inline-block;
}
header ul li .fliclog{

    margin-left: 10px;
}
#logoname{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: -20px;
    
}



main{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 30px;
}
footer{
    background-color: white;
    margin-top: 15px;
}
main #hero{
    width: 100%;
}
main #print{
    margin-left: 950px;
}
main p{
    text-indent: 40px;
}
main #divofdivs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('list-bg.png');
    margin-bottom: px;
}
footer{
    display: grid;
    grid-template-rows: 150px 2px 150px;
}
footer #haha{
background-color: gray;

}
#top{
    display: grid;
    grid-template-columns: 70px 1fr 250px;
}
#top button{
    width: 200px;
    height: 50px;
    background-color: red;
    margin-top: 10px;
    color: white;
}
#haha img {
    margin-left: 50%;
    margin-top: -15px;
}
#bottom {
text-align: center;
margin-top: 30px;

}

.gray{
    color: gray;
}